

<h1><%= @player1 %> Vs <%= @player2 %></h1>
<h1><%= @player2 %> Hitpoints <%= $Player2.hitpoints %>/<%= Player::HITPOINTS_DEFAULT %></h1>

<form action="/attack" method="get">
  <input type="submit" value="Attack">
</form>
